# build output
dist/
.output/

# dependencies
node_modules/

# generated types
.astro/

# environnement (NE JAMAIS committer de secrets)
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# système
.DS_Store
Thumbs.db

# éditeurs
.vscode/*
!.vscode/extensions.json
.idea/

# Netlify
.netlify/
